body {
  font-family: Arial;
  background: #f4f4f4;
}

.chat-box {
  width: 400px;
  margin: 60px auto;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.user {
  text-align: right;
  color: blue;
}

.bot {
  text-align: left;
  color: green;
}
